<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="register" >
    </form>
<!-- Django handles three distinct parts of the work involved in forms:

*preparing and restructuring data to make it ready for rendering
*creating HTML forms for the data
*receiving and processing submitted forms and data from the client -->

</body>
</html>